body, html {
    height: 100%;
    margin: 0;
}
/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("images/bg4.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.group-card-decks {
  width:95%;
  margin-left: 35px;
}
.card-link {
  background-color: unset !important; 
  font-size: 12px !important; 
  border-color: rgb(133, 133, 133) !important;
  color: black !important;
}
.card-link:hover {
  background-color: rgb(79, 124, 138) !important;
  color: white !important;
}
.header {
    text-align: center;
    background-color: #ffffff;
    height: 70px;
    margin-bottom: auto;
    padding-top: 15px;
    margin-top: 0;
}
footer {
  position: relative;
  text-align: center !important;
}
.copyright{
  position: absolute;
  bottom: 0;
}
iframe {
  width: 800px;
  height: 520px;
  margin-left: 350px;
}
@media (max-width: 576px) {
  .header {
    font-size:1.5em;
  }
  .group-card-decks {
    margin-left: 60px;
  }
  iframe {
    width: 300px;
    height: 200px;
    margin-left: 55px;
  }
}